.container {
  margin-bottom: var(--spacer);
}

@media screen and (min-width: 54rem) {
  .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacer);
    text-align: right;
  }

  .paragraph.mirror {
    flex-direction: row-reverse;
    text-align: left;
  }
}

.paragraph > * {
  flex: 1 1 0;
  margin-top: calc(var(--spacer) * 2);
}

.interactivity {
  max-width: 35rem;
  margin: auto;
}

.content button,
.content a[class*='button'] {
  display: block;
  margin: var(--spacer) auto;
  margin-right: auto;
}
