.serviceContainer {
  border-top: 1px solid var(--border-color);
  padding-top: var(--spacer);
}

.edpContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
  margin-bottom: calc(var(--spacer) * var(--line-height));
}

.gdpr {
  border: 1px solid var(--border-color);
  padding: calc(var(--spacer) / 2);
  margin-top: calc(var(--spacer) * -0.5);
  margin-bottom: var(--spacer);
}

.gdpr > div {
  margin-bottom: calc(var(--spacer) / 2);
}

.hint {
  background-color: var(--brand-alert-yellow);
  padding: calc(var(--spacer) / 2);
}

.edpContainer h4,
.hint ol {
  margin-bottom: 0;
}

.buttonContainer {
  display: flex;
  gap: var(--spacer);
}
