.logo {
  display: block;
  width: var(--menu-logo-size-width-sm);
  height: var(--menu-logo-size-height-sm);
  margin: 0;
}

@media screen and (min-width: 55rem) {
  .logo {
    display: block;
    width: var(--menu-logo-size-width-lg);
    height: var(--menu-logo-size-height-lg);
  }
}
